header.site-header {
	background-color: var(--color-bg);

	display: grid;
	grid-template-columns: .5fr 1fr .5fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	padding: 2rem 4rem;

	.site-branding {
		border: 1px solid;

		img.logo {
			width: 150px;
		}
	}

	nav.main-navigation {
		border: 1px solid;

		.nav-menu {
			margin: 0;
			padding: 0;
			list-style: none;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			display: flex;
			justify-content: center;
			gap: 3rem;
		}
	}

	.cta-container {
		border: 1px solid;
	}
}