// Theme colors
// https://www.color-blindness.com/color-name-hue/

:root {
	--color-blue-lagoon: #005B68; //Primary
	--color-sherpa-blue: #003F48; //Primary Dark
	--color-columbia-blue: #A3F6FF; //Secondary
	--color-iris-blue: #09B7CE; //Accent
	--color-azure: #E9FBFF; //Background color
	--color-dark-green: #011A1D; //Text
	--color-lavender: #E2F4F8; //Grey

	--color-bg: var(--color-azure);
	--color-paragraph: var(--color-main);
	--color-main: var(--color-dark-green);

	--color-primary: var(--color-blue-lagoon);
}

@mixin focus-outline() {
	outline: solid dotted;
	outline-color: var(--color-primary);
}