//Font sizes
@import 'responsive';

:root {
    --font-size-h1: 50px;
    --font-size-h2: 50px;
    --font-size-h3: 50px;
    --font-size-h4: 50px;
    --font-size-h5: 50px;
    --font-size-h6: 50px;
  
    --font-size-paragraph: 18px;
  
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-paragraph: var(--font-weight-regular);
    --font-weight-heading: var(--font-weight-bold);
  
    // Responsive font sizes
    @media (max-width: $breakpoint-mobile) {
        --font-size-h1: 50px;
        --font-size-h2: 50px;
        --font-size-h3: 50px;
        --font-size-h4: 50px;
        --font-size-h5: 50px;
        --font-size-h6: 50px;
      
        --font-size-paragraph: 18px;
    }
}