$breakpoint-tablet: 770px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 600px;

$width-full: 100%;
$width-wide: 1200px;

:root {
	--header-horizontal-margin: 5rem;
	--content-horizontal-margin: 5rem;
}


@media only screen and (max-width: $breakpoint-tablet-landscape) {
	:root {
		--header-horizontal-margin: 3rem;
		--content-horizontal-margin: 5rem;
	}
	
}

@media only screen and (max-width: $breakpoint-mobile) {
	:root {
		--header-horizontal-margin: 1rem;
		--content-horizontal-margin: 1rem;
	}
}

